@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f3f3;
}

@layer base {
  :root {
    --background: #f3f3f3;
    --text: #000000;
    --card: #ffffff;
    --button: 
  }
}

@font-face {
  font-family: "Paris2024";
  src: local("Paris2024"),
    url("./fonts/paris-2024-font/Paris2024-Variable.ttf") format("truetype");
  font-weight: bold;
}