@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f3f3;
  color: #000000;
}

@font-face {
  font-family: "Paris2024";
  src: local("Paris2024"),
    url("./fonts/paris-2024-font/Paris2024-Variable.ttf") format("truetype");
  font-weight: bold;
}